.row
  .col-xs-12#blog-post-item
    %h1
      - if @posts.count > 0
        %i.fa.fa-search
        = "Search: \"#{params[:q]}\""
        %span.search-result
          %b
            = "#{@posts.count}"
          Results
      - else
        %i.fa.fa-search
        = "No Contents Found!"
    %hr
    - @posts.visible_frontend.decorate.reverse.each do |post|
      .row
        .col-xs-12
          .thumbnail
            = image_tag post.the_field('image-content-blog-post')
            .caption
              %h3
                %i.fa.fa-newspaper-o
                = post.the_title
              %hr.blog-title-divider
              = simple_format post.the_content
              %p
                Author :
                %b= post.the_field('author-name-blog-post')
              %p
                Reference :
                %b= post.the_field('reference-url-blog-post')
              %p
                Posted At :
                %b= post.created_at

              = link_to post.the_url, class: 'btn btn-primary btn-outline' do
                Read More
                %i.fa.fa-chevron-right
      %hr