.row
  .col-xs-12#blog-post-item
    %h1
      %i.fa.fa-newspaper-o
      = @post.title
    %hr
    .thumbnail
      = image_tag @post.the_field('image-content-blog-post')
      .caption
        %hr
        %p= @post.content_filtered
        %p= raw @post.the_field('full-content-blog-post')
        %hr
        %p
          Author :
          %b= @post.the_field('author-name-blog-post')
        %p
          Reference :
          %b= @post.the_field('reference-url-blog-post')
        %p
          Posted At :
          %b= @post.created_at
        %hr
        %div
          = link_to current_site.the_post('home-page').the_url, class: 'btn btn-default btn-outline' do
            %i.fa.fa-chevron-left
            Back